* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;  /* 強調をなくす */
  touch-action: manipulation;  /* ダブルタップでズームさせない */
}

:root {
  width: 100%;
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, Arial, Helvetica;
  -webkit-text-size-adjust: 100%;  /* Safari 回転対策 */
}

body {
  overscroll-behavior: none;  /* ドラッグでリロードさせない */
}

button, select, input {
  color: black;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #F8F8F8;
  cursor: pointer;
}

button:active, a:active, img:active, li:active {
  opacity: 0.5;
}

.icon-button {
  width: 28px;
  height: 28px;
  border-width: 0;
  padding: 0;
  background: transparent;
}

.icon-button img {
  width: 100%;
  height: 100%;
}
